<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Test pages</title>
</head>
<body class = "title_letter bgcolor">
<pre> No Pain, No Gain dude. </pre>

<div class="fixed-header">
    <table class="centered-table">
        <thead>
        <tr>    
            <th style="width: 50%;">날짜</th>
        </tr>
        </thead>
    </table>
</div>

<div class="content">
    <table class="centered-table">
        <tbody>
        <tr th:each="workoutTable : ${resultList}">
            <td>
            <a th:text="${workoutTable.date}" th:href="@{|/board/view?date=${workoutTable.date}|}"></a>
            </td>
        </tr>
        <tr>
            <td><a th:href="@{/board}">홈으로</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
