<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<body>

<h1>운동 리스트</h1>

<table>
    <thead>
    <tr>
        <th>Exercise Name</th>
        <th>Date</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Weight</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workoutTable : ${workoutTables.content}">
        <td th:text="${workoutTable.exercise_name}">Exercise Name</td>
        <td th:text="${workoutTable.date}">Date</td>
        <td th:text="${workoutTable.reps}">Reps</td>
        <td th:text="${workoutTable.sets}">Sets</td>
        <td th:text="${workoutTable.weight}">Weight</td>
        <td><a th:href="@{/board/modify/{id}(id=${workoutTable.record_id})}">수정</a></td>
        <td><a th:href="@{/board/delete/{id}(id=${workoutTable.record_id})}">삭제</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/board}">홈으로</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
